@import '../../styles/settings.scss';

.button {
  height: 42px;
  width: 72px;
  background: $color-success;
  border: 0;
  color: $color-dark;
  text-align: center;
  line-height: 1.3;
  padding: $base-size;
  margin: 0 $base-size $base-size $base-size;
  border-radius: $radius;
  cursor: pointer;
  font-weight: 700;
  transition: $transition;
  
  &:hover {
    background: darken($color-success, 25%);
    color: $color-light;
  }
}